@import url('https://fonts.googleapis.com/css2?family=Lato&family=Outfit&display=swap');

:root{
  --primary-white:#FFF;
  --primary-orange:#f9ab00;
}
body{
  font-family: "Lato" sans-serif;
}



nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav >li >a{
  margin-right:12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: solid var(--primary-dark);
  
}

.navbar-nav >li > a.active, .navbar-nav > li > a:focus{
  border-top: 3px solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 3px solid var(--primary-orange);
}